@model ConsumptionViewModel

<div class="container-fluid">
    <br />
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header bg-theme">
                <h2 class="m-b-0 text-white">Add Medical Consumption</h2>
            </div>

            <div class="card-body" lang="en-US">
                <a class="btn btn-info waves-effect waves-light text-white" style="margin: 10px 0;" onClick="addInput('dynamicInput');">Add New Product</a>
                <form autocomplete="off" class="form-horizontal" p-t-20" asp-controller="MedicalManagement" asp-action="AddMedical" method="Post">
                    <div class="form-group row">
                        <label for="name" class="control-label col-sm-2 text-right"></label>
                        <div class="col-sm-4">
                            <p class="form-control-static"> Meal Add for @Model.CostCenterName </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="control-label col-sm-2 text-right">Select Date</label>
                        <div class="col-sm-2">
                            <div class="input-group clockpicker">
                                <input id="datepicker-autoclose" name="LateDateTime" type="text" class="form-control" placeholder="yyyy/mm/dd" 
                                       value="" required data-validation-required-message="Date is required">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <small><span class="help-block"></span></small>
                        </div>
                    </div>
                    <br />
                    <datalist id="productinputselect">
                        @foreach (var item in @Model.ProductLists)
                        {
                            <option>@item.Name</option>
                        }
                    </datalist>
                    <table id="dynamicInput">
                        <thead>
                            <tr>
                                <th class="text-center">Product</th>
                                <th class="text-center">Value</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="mydiv">
                                <td><input type="text" name="key" class="form-control awesomplete" list="productinputselect" /></td>
                                <td>
                                    <input id="decimalField" name="value" type="number" class="form-control" placeholder="0.000"
                                           value="" min="0.000" step="0.001" required data-validation-required-message="This field is required"
                                           data-validation-number-message="Maximum 3 decimals">
                                </td>
                                <td><input type="button" value="Remove" class="btn btn-danger" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group row">
                        <br /><br />
                        <div class="col-sm-10">
                            <br /><br />
                            <button type="submit" class="btn btn-info waves-effect waves-light"> <i class="fa fa-check "></i> Save</button>
                            <a asp-controller="MedicalManagement" asp-action="SelectCostCenter" class="btn btn-info waves-effect waves-light">Cancel</a>
                        </div>
                    </div>

                    <input type="hidden" asp-for="CostCenterId" />
                    <input type="hidden" asp-for="CostCenterName" />
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script class="reloadMe" src="~/js/DecimalField.js"></script>
    <script>
        ! function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(), $(".skin-square input").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green"
            }), $(".touchspin").TouchSpin(), $(".switchBootstrap").bootstrapSwitch();
        }(window, document, jQuery);
    </script>
    <script>
        function addInput(divName) {
            var newdiv = document.createElement('tr');
            newdiv.innerHTML =
                '<td><input type="text" name="key" class="form-control awesomplete" list="productinputselect" /></td>' +
                '<td>' +
                '<input id="decimalField" name="value" type="number" class="form-control" placeholder="0.000"' +
                'value="" min="0.000" step="0.001" required data-validation-required-message="This field is required"' +
                'data-validation-number-message="Maximum 3 decimals">' +
                '</td>' +
                '<td><input type="button" value="Remove" class="btn btn-danger" /></td>';
            document.getElementById(divName).appendChild(newdiv);

            // Re instantiate Awesomplete
            new Awesomplete(newdiv.querySelector('input'), { list: document.querySelector('#productinputselect') });

            $(function () {
                $("input[id*='decimalField']").keydown(function (event) {


                    if (event.shiftKey == true) {
                        event.preventDefault();
                    }

                    if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                        (event.keyCode >= 96 && event.keyCode <= 105) ||
                        event.keyCode == 8 ||
                        event.keyCode == 9 ||
                        event.keyCode == 37 ||
                        event.keyCode == 39 ||
                        event.keyCode == 46 ||
                        event.keyCode == 190) {
                    }

                    else {
                        event.preventDefault();
                    }

                    if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                        event.preventDefault();

                });
            });

            var elem = $('input[type="button"]');
            $(elem).click(function() {
                $(this).closest('tr').remove();
            });
        }
    </script>
    <script>
        $.get({
            url: location.protocol + "//" + location.host + "/MealManagement/AddMeal/" + "@Model.CostCenterId",
            dataType: "html",
            error: function(jqXHR, textStatus, errorThrown) {
            },
            success: function(newInputHTML) {
                var form = document.getElementById("dynamicForm");
                $(form).removeData("validator").removeData("unobtrusiveValidation"); // Added by jQuery Unobtrusive Validation
            }
        });
    </script>
    <script>
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd'
        });
    </script>

}